$darkPrimaryColor: #616161; // table background-color
$lightPrimaryColor: #F5F5F5; // body background-color
$primaryColor: #9E9E9E;
$textIconsColor: #212121;
$accentColor: #9E9E9E;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$dividerColor: #BDBDBD;